/* regole generali css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #eeeeee;
}
/* end regole generali css */
/* stile Header */
#logo {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
#logo #logoimg {
    line-height: 50px;
    vertical-align: middle;
}
/* end stile header */

/* stile main */
/* general section main */
.content-main {
    background-color: #fff;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3px;
    padding-left: 50px;
}
/* end general section main */

/* section main button */
.button {
    margin: 20px 0 10px 0;
    padding: 7px 10px;
}
#content-button {
    border-radius: 5px 5px 0 0;
}
#task-button {
    background-color: #47adf1;
    border: 1px solid #47adf1;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
}
#section-button {
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #bdbdbd;
}
/* end sezione button */
/*  section task */
#task-list {
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-radius:0 0 5px 5px ;
}
.schedule {
    padding-top: 40px;
}

.triangle {
    font-size: 16px;
}

.circle-green {
    border: 1px solid #00c468;
    color: #00c468;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.circle-red {
    border: 1px solid #ff0000;
    color: #ff0000;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.task {
    margin-left: 10px;
}
.row {
    margin: 20px 0;
}
/* labels task */
.labels {
    padding: 5px 7px;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}

.labels.editorial {
    background-color: #47adf1;
}

.labels.q1goals {
    background-color: #9c72e4;
}

.labels.recruiting{
    background-color: #64c0a9;
}

.labels.mobile{
    background-color: #f29e33;
}

.labels.website{
    background-color: #d863a1;
}

.labels.sales{
    background-color: #b0c926;
}